out/**
node_modules/**
src/**
!dist/**
!images/**
AGENTS.md
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.jj
*.vsix
.agents/
.devcontainer/
.github/
.gitignore
.jj-workspaces/
.vscode-repo/
.prettierignore
test-results/
tests-integration/
